/*
StyleShare Market App 에 사용되는 Color 들을 정의합니다.

다음 링크를 참고하였습니다. 
https://medium.com/styleshare/운영중인-프로덕트에-새로운-gray-scale-적용-대장정-de58bfc9da29
*/
$color-main: #33cc99;
$color-main-dark: #28a078;
$color-main-text: white;

$color-gray-900: #1B1D1F;
$color-gray-800: #26282B;
$color-gray-600: #454C53;
$color-gray-400: #9EA4AA;
$color-gray-100: #E8EBED;
$color-gray-50: #F7F8F9;
$color-gray-0: white;

$color-red: #FF6699;
$color-red-dark: #E55C8A;

$color-blue: #2196f3;

$color-yellow: #ffff00;

$color-orange: #ffA627;